@{
    ViewBag.PageName = "Show";
}
<h2>@ViewBag.PageName</h2>
<hr />
<h1>@ViewBag.Article.Title</h1>
<p>@ViewBag.Article.Content</p>
<small>@ViewBag.Article.Date</small>
<hr />
<br />
<a href="/Articles/Index">Afisare articole</a>